@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #0B1437;
    color: white;
}
aside{
    background-color: #111C44;
}
.sidebar .logo h1{
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
}
.sidebar ul li{
    color: #1B254B;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sidebar ul li a .icon{
    width: 15px;
    height: 15px;
    background-color: #1B254B;
    color: #3182CE;
    transition: color 0.4s ease, background-color 0.4s ease;
}
.nav-link{
    color: white;
    transition: background-color 0.4s ease;
}
.nav-link.active {
    background-color: #1B254B; /* Cor de fundo diferente para o link ativo */
    color: white; /* Cor do texto para o link ativo */
}
.nav-link.active .icon {
    background-color: #3182CE;
    color: white; /* Ajuste a cor do ícone para o link ativo */
}
.circulo{
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
}

.topo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.cards .card{
    background-color: #111C44;
    color: white;
    box-shadow: 4px 4px 20px 0px #111C44;
    transition: background-color, box-shadow 0.5s ease;
}

.cards .card:hover{
    background-color: #182350;
    box-shadow: 4px 4px 20px 0px #1B254B;
}
span{
    color: #1CDE6D;
}
.no-link {
    color: inherit; 
    text-decoration: none;
}

.no-link:hover,
.no-link:focus {
    color: inherit;
    text-decoration: none; 
}
.circulo {
    width: 100px;
    height: 100px; 
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
